<div>
<fieldset>
  <legend>Fill in the form to sign up:</legend></br>
  <form action="/users" method="post"
    <label for="email">Email:</label></br>
    <input id='email' type='text' name='email'required /></br></br>

    <label for="password">Password:</label></br>
    <input id='password' type='password' name='password'/></br></br>

    <label for="password_confirmation">Confirm password:</label></br>
    <input id='password_confirmation' type='password' name='password_confirmation'/></br></br>

    <label for="name">Name:</label></br>
    <input id='name' type='name' name='name'/></br></br>

    <label for="handle">Handle(@):</label></br>
    <input id='handle' type='text' name='handle'/></br></br>

    <input id='submit' class='button' type='submit' value='Sign Up'/>
  </form>
</fieldset>
</div>
