<!DOCTYPE html>
<html>
<head>
  <title>Chitter chatter</title>
</head>

<body>
  <nav>
    <ul>
  <!--
      <li> <a href="#"> Log In </a></li>
      <li> <a href="#"> Log Out </a></li> -->
      <li> <a href="/users/new" id="sign_up">Sign Up</a></li>

    </ul>
  </nav>


      <%= yield %>
    </div>
  </body>
  </html>
